<div class="new">
<h1>編集</h1>
<%= form_with model: @program, local: true do |f| %>
  <p>アニメタイトル：<%= f.text_field :title %></p>
  <p>放送局：<%= f.text_field :broadcaster %></p>
  <p>曜日：<%= f.text_field :wday %></p>
  <p>放送時間：<%= f.text_field :airtime %></p>
  <input class="btn btn-primary btn-lg w-25" type="submit" value="送信">
<% end %>
</div>
